[2022-05-21 09:54] jbuchermn commented on #112
Hey,

touchscreen and the like use another wayland protocol than mouses and touchpads. This is implemented in sway, but not in newm (or more precisely pywm). As I don't own such a device, I can't really implement / test that...

[2022-05-21 10:01] jbuchermn commented on #111
Can you try changing the path in
[code]
to something that certainly exists? This default config does not work in all cases. I just want to see if anything gets rendered.

Also please test
[code]
does this change anything?

[2022-05-21 10:06] jbuchermn commented on #109
Thanks a lot, that helps.

I haven't yet been able to reproduce, but the logs and you're patterns suggest it might have to do something with the panels (which are started automatically in the background when they finish). Somehow starting the launcher panel fails and the interaction between the panel starting and the compositor triggers the bug (segfault).

To verify this thought - can you try dis

[2022-05-21 10:59] jbuchermn commented on #98
Which one? Unlock (lock screen disappears) and immediately lock again, or not even unlock (lock screen never disappears)

[2022-05-21 10:59] #100 closed

[2022-05-21 11:00] #68 closed

[2022-05-21 11:34] ahmadraniri1994 commented on #111
Unfortunately, it's still same.
I try to change the background path to :
[code]
And add :

[code]

But it gives no change. I'll probably stick to v0.2 .

[2022-05-21 11:40] jbuchermn commented on #111
Okay, thanks. It appears the renderer is not the issue...

You don't set your keyboard layout in the config - could that be the reason for keychords not working? Obviously you won't see anything, but working keychords should at least show up in the log, if it starts alacritty e.g..

Does it work on v0.2?

[2022-05-21 11:44] jbuchermn commented on #109
Also, can you check for `~/.cache/newm_panel_log` and post it?

[2022-05-21 11:56] jbuchermn commented on #109
Im finally able to reproduce! :) happens for me only when `encourage_csd` is set

[2022-05-21 12:18] ahmadraniri1994 commented on #111
I set it up and the shortcuts still don't work, cursor still gone.

Newm v0.2 works for me.

[2022-05-21 12:28] jbuchermn commented on #111
Yeah this wouldn't change the rendering issues. But does anything show up in the logs if you press keybindings?

It's interesting that v0.2 works..

[2022-05-21 12:31] jbuchermn commented on #109
This should be fixed by https://github.com/jbuchermn/pywm/commit/7980012191e953440eca87e168c81d8185344c39

[2022-05-21 12:33] jbuchermn commented on #101
Yeah, I get that. Although I do think most apps, for which it makes sense (especially terminals), support such a thing.

The thing is, the compositor doesn't know about foreground and background. So adding this leads to the whole window (including text) being transparent.

[2022-05-21 12:39] ccelik97 commented on #101
It's fine as long as it's an optional feature (and believe it or not, some people actually want even that to-us-undesirable side effect xd). I think if you can make it configurable per app (whitelist/blacklist style) it'll be fine.Also think about a future possibility like the compositor being able to detect texts and apply different visual effects (as in, to at least not make them too transparent

[2022-05-21 12:42] jbuchermn commented on #105
I just added some more debug output in the recent commits. Can you maybe re-run and post a log?

[2022-05-21 13:00] jbuchermn commented on #101
You can now set opacity analogously to blur using rules:

[code]

[2022-05-21 21:28] jbuchermn commented on #93
I'll close this for now, as most of the documentation is there. Please feel free to open issues (or better PRs ;) )

[2022-05-21 21:28] #93 closed

[2022-05-21 21:44] ccelik97 commented on #101
Nice. Will there be a whitelist/blacklist style approach and/or is it already possible to be done now?

[2022-05-21 21:55] jbuchermn commented on #101
That‘s the way `view.rules` works - it's just a function, you can use whatever criterion you want to decide whether or not a view should be transparent.

Closing this for now.

[2022-05-21 21:55] #101 closed

[2022-05-21 21:55] jbuchermn commented on #110
Closing this as linked from readme

[2022-05-21 21:56] #110 closed

[2022-05-21 23:22] CRAG666 commented on #98
@jbuchermn  It disappears for a few seconds and then the lock window appears, that happens infinitely.As I say the behavior is approximately when you stop using the equipment for one hour

[2022-05-21 23:39] jbuchermn commented on #98
Okay, that helps :) is this consistent? I e every time you don't use it for an hour? Can you post anlog of the panel (newm_panel_log)?

[2022-05-23 00:19] ahmadraniri1994 commented on #111
unfortunately nothing show up in the logs.

Update what I tried and got  on newm v0.3 :
- Background will show up when I change the `anim` to `False`.
[code]
- Cursor still doesn't show.
- Keybinds still don't work though I set the keyboard layout :
[code]

I want to stick with v0.2 for now, btw, how to prevent high cpu usage when using newm v0.2 ? the fan spins and make noise when I'm using newm,

[2022-05-23 10:19] jbuchermn commented on #111
Can you post a current log with the config that shows Blythe background?

Regarding v0.2, what you can do is debug and submit a PR. I'm no longer going to actively work on old versions, but I'm always happy about contributions.

However, high cpu usage is not something that's ever popped up before, so I think there might be something bigger going wrong (possibly the same issue preventing rendering

[2022-05-23 22:27] lidgnulinux commented on #111
sure, this is the [log](https://github.com/lidgnulinux/logforstuffs./blob/main/newm_log).

Both (launch from tty and from other wayland compositor) give same behaviour (high cpu usage on v0.2, blank and no cursor for v0.3).
Pic (sometimes, it's almost 100% on one of the cpu, I don't know why) :
![2022-05-24T05:13:08,777735462+07:00](https://user-images.githubusercontent.com/99301306/169914550-952c

[2022-05-25 06:25] jbuchermn commented on #111
I haven't had time to take a detailed look, but from a quick glance at the screenshot it seems like cpu usage stems from newm_panel_basic instead of newm, right?

How about disabling it?

I'll take a look at your v0.3 log as soon as I have time - fixing the current version is my priority.

[2022-06-01 07:12] iCultureBud opened #113 "Panel Launcher Bug"
Hey @jbuchermn. It's been a while :) I had two very stressful months and I got no time to work on the scratchpad. But now I'm able to continue on this. But one other thing:

I updated my newm recently and now the panels are crashing everytime. I can't figure out why and I also updated my config to match with yours.

Here is the log from the crash:

[code]

[2022-06-05 08:44] #113 closed

[2022-06-13 19:13] mcs0042 opened #115 "Missing UI elements and a disappearing cursor"
First, thank you to all of the contributors for your hard work on this innovative project.

I had been trying out newm for a couple of days with only minor issues, but I ran into a few substantive problems after updating my system. Upon starting newm for the first time after the update, I ran into the following problems, which still persist at the time of my opening this issue (I'm only opening on

[2022-06-14 22:34] Pandademic commented on #115
@mcs0042 , I've contributed a few times here....

Can I see your config?

Does it have anything related to the mouse?

Hope I can help!

[2022-06-14 22:36] Pandademic commented on #115
@jbuchermn or @CRAG666 would be able to confirm , but this mean your on 0.3?

[2022-06-14 23:34] mcs0042 commented on #115
Thanks, @Pandademic!

My config is available [here](https://github.com/jbuchermn/newm/files/8904414/config.txt). I don't see anything obviously related to mice or cursors, but I could always be missing something since my config is a modified version of the default config.

The version number listed in flake.nix is 0.3alpha. Based on a cursory glance at the flake.nix file, it looks to me like my ve

[2022-06-15 20:22] Pandademic commented on #115
@mcs0042 yep , your on 0.3. I do see some similarity between this and #111.

Can you try adding:
[code]
in the `pywm` section.

Also , just checking but , the config is inside a python file ... right?

That obviously isn't the cause of the issue , but it never hurt to check.

Finally , do you mind trying newm 0.2 , and seeing if it works?

Thanks!

[2022-06-16 08:39] jbuchermn commented on #115
Hi,

thanks for reporting this issue in great detail. I'm using nixOS myself so we should be able to fix this.

Before I start digging deeper - I do recall something like this happening to myself after a nixOS update. I'm not entirely sure, what was actually the cause but it was along the lines of divergent nixpkgs commits used in `nixos-rebuild switch` (which installs drivers) and `nix build "git

[2022-06-16 08:59] jbuchermn commented on #105
Closing for now

[2022-06-16 08:59] #105 closed

[2022-06-16 19:05] mcs0042 commented on #115
So the issue seems to have been the divergent nixpkgs commits; updating the flake.lock file seems to have fixed the problem! For posterity: I cloned the newm repository, ran `nix flake lock --update-input nixpkgs` to bring the version of `nixos-unstable` used by the newm flake to the version of `nixos-unstable` I used to build the current version of my system, and rebuilt newm using `nix build .#n

[2022-06-25 15:41] CRAG666 opened #116 "Ignore focus border in especific windows"
Ignore the edge in specific windows, I love the Focus function, since I can know what window I find.However, this looks pretty bad in catapult so I want to define a rule where in catapult the edge is ignored.

I have the idea of adding something like:
[code]

[2022-06-25 15:42] CRAG666 commented on #116
@jbuchermn By the way, thank you very much for this new version that is honestly a huge better in relation to the past versions, finally des Insta Swaywm completely and Newm is my default WM and my workflow was multiplied by x2.

[2022-06-28 01:02] xPMo opened #117 "Fullscreening a window from a stack scales the whole stack instead."
Expected behavior: The focused window should be resized to fit the screen, and no other windows should be visible.

Actual behavior: The focused window will not take up the whole screen, but will instead be slightly smaller (like it is in a stack compared to an unstacked column), and all windows from the stack are scaled by roughly the same proportion.

[2022-06-28 13:58] cben opened #120 "Dev: hot-reloading newm's own source?"
First, thanks!  newm is both innovative and (together with pywm) probably the easiest starting point that now exists for hackable wayland WM :clap:

Do you have a recipe for reloading newm source itself?

Things I found out today:
* I can reload() modules and log stuff from config file.  Poor man's REPL — edit config, press hot-key, see output in `tail -f $HOME/.cache/newm_log | rg -v 'GL_INVALID_

[2022-06-28 15:08] jbuchermn commented on #116
Thanks a lot.

That‘s a good idea, I'll have a go at it.

[2022-06-28 16:46] CRAG666 opened #121 "Incomplete dependencies in Arch Linux"
Buy a new computer and install Arch Linux.When I try to install Arch, I found a series of problems, the first one was that there is no Dasbus in Aur or the official repositories.The second error and the least obvious was that when it is blocked it does not run correctly, Echo has a flicker that makes it difficult to see the error, but what I could notice was that it is an error of dependencies.

[2022-06-28 16:47] CRAG666 commented on #121
@jbuchermn  Thanks for attending it

[2022-06-28 16:55] CRAG666 commented on #120
This is my configuration if it is useful
https://github.com/CRAG666/dotfiles/blob/master/config/newm/configV3.py

[2022-06-28 18:21] jbuchermn commented on #120
That's a very interesting thought!

To be honest, I just restart newm over and over when debugging stuff, but specifically for sth like the widgets, or "higher-level behaviour", doing what you do in your example could be very worthwhile.

What kind of auto-reload modules do you have in mind?

Also, another path might be to make newm itself as minimal as possible and move a lot more behaviour into

[2022-06-28 18:22] jbuchermn commented on #121
@xPMo Is this the issue you were talking about on gitter?

[2022-06-28 19:04] xPMo commented on #121
@CRAG666 [`python-dasbus` is in the AUR](https://aur.archlinux.org/packages/python-dasbus).

[2022-06-28 21:24] CRAG666 commented on #121
I was not aware of the gitter, but I see that someone took control that is great, yesterday install Newm but I hope this resolved in the new installation that I will, what would add Dasbus to the rests of Aur?

[2022-06-28 22:56] CRAG666 commented on #121
@xPMo  I just reinstall newm and the problem with the blockade persists there is some missing dependence

[2022-06-28 23:05] CRAG666 commented on #121
@xPMo @jbuchermn  I finally discovered what is the missing dependence on Arch repositories, the missing dependence is `thefuzz`

[2022-06-29 00:23] CRAG666 commented on #121
Create the package so that they can include it in the Newm dependence that is in Aur.It would also be good that those that are not used be removed https://aur.archlinux.org/packages/python-thefuzz

[2022-06-29 02:25] pedrotrschneider commented on #111
I seem to be having the same issue. Reproduced exactly what was described. At first, no wallpaper, no mouse cursor and no keybindings were working. Tried adding
[code]
to no avail. Disabling wallpaper animations made the wallpaper appear, but it remained unresponsive otherwise.
My config file and logs are attached (had to attach both as .txt because github, sorry for that).

[newm_log](https://git

[2022-06-29 10:55] cben commented on #120
- Tried `IPython.lib.deepreload.reload()`, it messed up the import machinery and I had to restart.  Anyway that doesn't address (3).
- The real magical one is https://ipython.org/ipython-doc/3/config/extensions/autoreload.html which does impressive stuff like patching function objects in-place.  But that's entangled with IPython, don't know if it can be used stand-alone.
- Correction: layout.py do

[2022-06-29 17:27] xPMo commented on #121
Oh yeah, I remember now that I just added it with `pip install --user` when I couldn't find it in the AUR.

Thanks, added and pushed.

[2022-06-29 17:40] CRAG666 commented on #121
I will close the problem waiting for the issue of dependencies to be resolved, I also hope and remove the unnecessary

[2022-06-29 19:28] xPMo commented on #121
I did remove `python-fuzzywuzzy`, but I'm not sue about the non-python deps.

[2022-07-01 01:55] hekatonkheirex commented on #98
I happens to me too. I don't know if the op has a different greeter, but I'm using gdm, if that helps.

[2022-07-01 09:29] cedrus-8864 opened #123 "Rotate screen"
Hi guys.
I really love your work.
A very quick question. How can I rotate my external monitor 90 degrees?
Thank you. Have a great time.

[2022-07-01 14:06] CRAG666 commented on #98
i am us greetd

[2022-07-01 14:16] CRAG666 opened #124 "Feat: Diagonal displacement"
The idea arises because I regularly have the organized windows of 2 in two then many times I need to move to a diagonal window, what I always do is do it with two movements mod + k and mod + l which is little practical when it is constantly done,Then it occurred to me to have the characteristic of diagonal movements, so far I try to create a function that I did with what you already have but so fa

[2022-07-01 14:20] CRAG666 commented on #124
@jbuchermn  Thank you very much in advance

[2022-07-02 00:43] wez opened #125 "youtube video in readme is private"
https://www.youtube.com/watch?v=4I_IHbP-iNQ isn't accessible to the public

[2022-07-02 07:55] jbuchermn commented on #125
Ah something didn't work there, thanks. How about now?

[2022-07-02 11:26] Cocopops16 commented on #105
Hi !
Sorry I didn't had much time to test things, but i figured out that my wallpaper was causing all thoose errors.
Was entierely my fault, i used an .png file insted of a .jgp as mentioned in the default config file ^^
This workflow is very interesting, thank you for sharing all this ! ;)

[2022-07-02 13:40] wez commented on #125
Works now, thanks!

[2022-07-02 13:40] #125 closed

[2022-07-04 14:41] jbuchermn commented on #123
Thanks a lot!

Try

[code]

[2022-07-04 18:43] CRAG666 commented on #124
@jbuchermn  Great this is incredible.Already with this are added 4 more movements, diagonal left and right, and diagonal downstream and right.Thank you very much for taking this idea into account

[2022-07-05 02:43] pedrotrschneider commented on #111
@jbuchermn
I'll try to answer all your questions in the order you asked for them:
- The wallpaper is mostly fine, except for four black squares in the four corners of the screen, each taking about 4% of the width of the screen (I'm on a laptop and can't test with other monitors at the moment, so that's the best I can do). I also can't show it to you, because no screenshot tool works.
- Tried to ch

[2022-07-06 12:41] cben commented on #120
### caveat: Order matters with inheritance

- [ ] If the list of reloaded files contains both some base.py and subclass.py, order matters.
  If you first execute subclass.py:
[code]
  then a new instance of `SubClass` is created, but `SubClass.__bases__` is set at that moment to point to the old `BaseClass`.  Instances of old `SubClass` will be patched to point to new `SubClass`, but IIUC their me

[2022-07-06 13:31] jkim5959 opened #126 "Installation error"
I did a fresh arch install.

minimal, no x or wayland, just nano and git and yay without any display server, which is probably why i'm getting this issue.

I installed newm through yay -S newm-git

start-newm -d gives me the following log. at ~/.cache/newm_log.

![VirtualBox_Arch_06_07_2022_23_27_20](https://user-images.githubusercontent.com/85728320/177561543-f2f74305-aae8-41d1-a523-ba91d8ade152.

[2022-07-06 14:41] CRAG666 commented on #126
@xPMo Should be added as wob unit, brightnessctl as they are part of some newm utilities, do not forget to update srinfo

[2022-07-06 15:07] xPMo commented on #126
Nice, thanks. `seatd` is required, but `wob` and `brightnessctl` are just part of the default config. I'll add them to the `optdepends`

[2022-07-06 15:45] xPMo commented on #126
@jkim5959 It looks like `seatd` got pulled in correctly, it's just erroring out for some reason.

I see it trying to connect to `/run/seatd.s...` (almost certainly `/run/seatd.sock`). You might try [these steps wrt seatd+Sway](https://wiki.archlinux.org/title/Sway#Starting)

[2022-07-07 02:12] #123 closed

[2022-07-07 13:12] #126 closed

[2022-07-08 16:04] cben commented on #120
I'm not sure I understand your question right, can you elaborate where/what exactly are you editing?

tips if you tried my recipe above and newm/**py edits have no visible effects:
- add new logging to the code you edited to be sure.
- `on_reconfigure` is too late if you touch logic that runs after config reload; if that's the case than reloading twice helps — and moving to top level of config scr

[2022-07-08 16:18] cben commented on #120
if you are asking how it works without my kludge:

### newm's current config reload flow

- The shortcut or `newm-cmd update-config` trigger this:
https://github.com/jbuchermn/newm/blob/d5831bbca8815fa77c14616c778d3398116b0808/newm/layout.py#L1212-L1217
  - Your config file is reloaded.  Top-level code is executed immediately; can also define callbacks for later.
  - it calls [_setup()](https://gi

[2022-07-09 22:13] Pandademic commented on #112
@jbuchermn , do you know the details of how this is implemented in sway? I could try and implement it , as I do own a touchscreen laptop.....

[2022-07-13 04:44] edrex opened #127 "first impressions, discussions"
Hi @jbuchermn!
I played around with newm for 30 minutes or so today, and I'm impressed from a HCI design perspective
as well as with the level of completeness and polish the project already shows.

I sense that we are interested in exploring overlapping subsets of the graphical shell solution space, and I love that you spun off pywm, since I am very interested in creating my own compositor as a te

[2022-07-13 13:31] CRAG666 commented on #127
Hi you could try to try my settings, I also use keyd. in the case of the edge of sale is something you can remove, I did not hear it before now if I use it

[2022-07-13 17:34] edrex opened #128 "layout.move(): skip animation when no panning is needed"
As a new user, I perceived an uncomfortable period of delay when moving focus between windows with the keyboard motions. I believe this is because even when no panning is needed,  `layout.move(...)` waits out the animation period before updating the focus halo.

**Suggested change:** when no panning is needed, `layout.move(...)` could skip animation or otherwise tighten it up.

## Reports

From ne

[2022-07-13 17:39] edrex commented on #127
Closing to continue elsewhere

- Touch screen support #112

- Opened #128 since I didn't see an existing issue.

Found https://github.com/jbuchermn/newm/issues/71#issuecomment-1061113738

(re: @CRAG666 I'm going to drop keyd. While there are some limited use cases where global input overrides make sense, straight key remapping is the only one I care about, and I already do that via a set of udev r

[2022-07-13 17:39] #127 closed

[2022-07-13 19:45] jbuchermn commented on #128
Thanks for reporting! You're completely right in diagnosing the problem; actually that's been bothering me for some time but I haven't come round to fixing it.

I'll take a look, this should be really straight-forward.

[2022-07-13 20:15] jbuchermn commented on #128
I just pushed to master - can you try?

[2022-07-13 20:15] jbuchermn commented on #124
I just pushed to master - can you try? I didn't really test much, so please do check.

[2022-07-13 21:04] CRAG666 commented on #124
right now check and I notice anything, Thanks

[2022-07-13 21:06] CRAG666 commented on #124
@jbuchermn Could you tell me how to map those 4 movements in order to test it?

[2022-07-13 21:21] CRAG666 commented on #124
You are the best, this works super well feels very fluid many thanks, I have another idea to further improve the experience in newm but I will create another issue with an animation because it is necessary, close the testmema for the moment

[2022-07-13 21:53] edrex commented on #128
- The blue focus halo seems gone, not sure if that's a side effect of skipping animation.
- The time till the window shows focus (terminal cursor goes solid) is reduced (from ~400ms to ~100ms)

It seems like there is still some delay, perceptible but small. Maybe a different cause?

[2022-07-13 22:15] edrex opened #129 "focus_follows_mouse fails when transitioning from gutter/background surface to window"
When moving the pointer between windows, the destination window sometimes fails to receive focus. The condition for failure seems to be if the cursor transitions to the gutter/background surface in between. Whenever the cursor transitions from background to window, focus doesn't follow correctly.

Moving the pointer quickly between windows focuses correctly, I think because the pointer "tunnels" a

[2022-07-14 05:33] jbuchermn commented on #129
I've never noticed something like that.. What do you mean by gutter?

Can you record a short clip showing what is going wrong?

[2022-07-14 05:36] jbuchermn commented on #128
It's weird that the blue halo (in config it's called `focus_border`) is gone for you. I don't experience any issues with it.

Did you change anything concerning the relevant configuration?

I'd focus on that first, maybe there is some issue causing related delay

[2022-07-14 08:54] jbuchermn commented on #102
You can now set `view.sticky_fullscreen` to `True` to disable this behaviour.

[2022-07-14 09:00] jbuchermn commented on #112
Take a look at the uses of `wlr_tablet` and `wlr_touch` in https://github.com/swaywm/sway/blob/master/sway/input/cursor.c

You'd have to add that functionality to pywm (analogous to `wm_cursor`)

[2022-07-14 09:09] jbuchermn commented on #117
Should be fixed now

[2022-07-14 09:12] jbuchermn opened #130 "Stacks: Blur is only visible if one of the windows has focus"
If none of the stack windows has focus, they do not appear blurred.

Possibly related to the windows having same z-index?

[2022-07-14 09:12] jbuchermn commented on #98
How about a log of newm and newm-panel basic?

[2022-07-14 14:50] jbuchermn commented on #102
Can you describe a bit better what you mean? Unfortunately your original video is no longer there and it's a bit hard to follow your description.

Switching to fullscreen and then swiping between the windows does no longer exit fullscreen mode, going to overview neither, but 4-finger-swiping to zoom still does - do you mean that?

[2022-07-14 16:24] CRAG666 commented on #102
https://user-images.githubusercontent.com/34254373/179030664-b56a41d9-89a4-4e9b-b05d-09e91ea8a43b.mp4

[2022-07-14 16:27] CRAG666 commented on #102
At the end of the video it shows what I do not want to happen, I have 4 window, one of them is larIn normal way, the latter is what I don't want to happen to be kept in mod zoom

[2022-07-14 16:30] CRAG666 commented on #102
@jbuchermn  In the video I have 4 windows, one of them is larger than the others, so I make mod+u to zoom, I sail for the sale but at the moment I return with mod+j the zoom is canceled, this behavior is the one thatI don't want it to happen, I want it to be kept in zoom mode even if the windows are of different size

[2022-07-14 16:37] CRAG666 commented on #102
@jbuchermn  I am willing to receive a no with this characteristic.However, it is quite useful with applications such as Kdenlive, since it would work in too much to those who have small monitors or a only monitor (right now I do not have a second monitod).Thank you very much for your excellent job

[2022-07-14 18:10] Pandademic commented on #112
@jbuchermn thanks for your quick reply! I'll try and take a look.

[2022-07-16 02:32] hekatonkheirex commented on #98
[newm log](https://pastebin.com/Yptn8nsu)

newm-panel-basic
[code]

[2022-07-16 10:45] jbuchermn commented on #98
What happens once you install thefuzz?

[2022-07-17 01:48] CRAG666 opened #131 "Dialect"

[2022-07-17 01:59] CRAG666 commented on #131
[newm_log.txt](https://github.com/jbuchermn/newm/files/9126902/newm_log.txt)
I leave the log here

Note a behavior just before the error occurred the cursor did not move and then made it delayed, with a lot of lag that was notorious for about 30s

This is the mistake that most caught my attention:

*** BUG ***
In pixman_region32_union_rect: Invalid rectangle passed
Set a breakpoint on '_pixman_log

[2022-07-20 02:25] hekatonkheirex commented on #98
It works if I don't wait to the screen to turn off. If the screen turns off it I have to force restart the laptop (power off with the power button).

[2022-07-21 02:17] #117 closed

[2022-07-25 06:46] godalming123 opened #132 "Help-wanted: install with configuration.nix"
How do I install this in my configuration.nix? In hyprland (my previous wm) there's a guide; https://github.com/hyprwm/Hyprland/wiki/Installation#without-flakes is there such a thing for newm

[2022-07-25 06:51] jbuchermn commented on #132
I have everything set up using flakes (see my repositories). Maybe you can use that as a basis to build sth without flakes.

Unfortunately I have got very little time at the moment and can't provide support, maybe other nix users on here can.

[2022-07-26 12:31] Patsonical opened #133 "Newm becomes unresponsive after "Skipping moot animation""
Whenever this conditional triggers, it blocks all further animations. It seems as though the previous animation never finishes and subsequent ones are only added to the queue and never execute.

Debug log for a normal animation:
[code]

Debug log for the final animation before freezing:
[code]

The issue seems to be fixed by making the `_animate_to` call execute regardless of whether the final sta

[2022-07-26 13:11] jbuchermn commented on #133
Thanks a lot for the detailed report. I think, implementing the "moot" animation was a bit of a quick fix, which I didn't test properly...

Unfortunately, I'm not at home and can't test, but I suspect the issue is that, in case of a such a skipped animation, the `then` function is not called (in `check_finished`, lines 199-200). Can you try adding this call before line 190 e.g.?

[2022-07-26 13:30] Patsonical commented on #133
Awesome, thank you, that seems to have solved the issue (and more cleanly then my "fix" lol). I'll make a pull request with these lines added there.

[2022-07-26 14:27] #133 closed

[2022-07-26 14:27] jbuchermn commented on #133
Just merged :)

[2022-07-26 14:29] jbuchermn commented on #131
Can you describe in a bit more detail what you did before the error happened and what wasn't working then?

[2022-07-26 22:52] CRAG666 commented on #131
@jbuchermn The error is quite simple, I just opened my applications like any other day, browsed through the applications and suddenly I couldn't switch windows anymore. I tried but it wouldn't move, the strange thing is that it didn't lock, i.e. I could move the mouse to type etc. even use some shortcuts but I couldn't move, also as I said the borders in floating windows took a while to disappear

[2022-07-27 14:06] Tuhkis opened #135 "Keyboard layout"
As far as I'm aware there isn't a way in the config to change keyboard layout (?).

[2022-07-27 22:41] DaMar4 opened #136 "newm blur and transparency efffect not working"
anyone can help me, I try  put blur and transparent effect on newm but it not work
this is my config rule, but the effect is not visible:

`def rules(view):`
    `common_rules = {"float": True, "float_size": (750, 750), "float_pos": (0.5, 0.35)}`
    `float_app_ids = (
        "pavucontrol",
        "blueman-manager",
        "Pinentry-gtk-2",
    )
    float_titles = ("x", "Dialect")
    blur_app

[2022-07-28 00:01] CRAG666 commented on #131
@jbuchermn Right now the error occurred.In the video it is not seen that I try to use the keyboard, but I press mode and nothing happens, I try to use any shortcut that involves mod and does not work and as I said it freezes completely mode and therefore does not let you change your window.On the other hand as I said the frame of the floating windows it takes to disappear and that happens in the v

[2022-07-28 00:04] CRAG666 commented on #135
pleace try this
[code]

[2022-07-28 00:09] CRAG666 commented on #131
Something that also notes is that it does not happen under any time in specific.Until now I have the theory based on the error that tube today, that the behavior occurs when it interacts with a GTK3 window, there is also another related error, I leave the video too.

[2022-07-28 20:09] x0rzavi commented on #136
Hi @DaMar4, you need to turn on opacity for apps you need blur on, for eg, in alacritty you can set opacity, also in waybar selectors need to have background as transparent

[2022-07-29 09:38] Tuhkis commented on #135
Oh thanks now I get my Ä's and Ö's :D.
Closing this

[2022-07-29 09:38] #135 closed

[2022-07-30 08:11] apandada1 opened #137 "How to install newm in Ubuntu?"
There was a recent question in [Ask Ubuntu](https://askubuntu.com/q/1421066/124466) about the installation procedure of newm in Ubuntu.

Can someone provide a step by step instruction to install newm from the source?

Let's target the latest version, 22.04 LTS.

[2022-07-31 00:39] CRAG666 commented on #137
This is quite simple, just install the dependencies, if you like it, I leave them and then just follow the instructions of the installation with pip

[2022-08-01 07:16] x0rzavi opened #138 "Providing newm + pywm packages for gentoo"
I've made an ebuild (synonymous to PKGBUILD on Arch) for both newm and pywm accessible from https://github.com/x0rzavi/x0rzavi-overlay which I'm sure will encourage more people to try out this awesome compositor.
As of now the packages build directly from the latest commit and needs more testing, but I'm planning to do the following:

- Add stable versioned packages
- Improve dependency resolution

[2022-08-01 07:21] x0rzavi opened #139 "Possible to dynamically change unfocused windows' opacity?"
My particular use case is to only keep the currently focused window fully opaque, while those being unfocused to be blurred and translucent. One way to do it seems like to check the `view.is_focused` every so often, but that will incur performance penalties too ig? Also, unfortunately Idk how to implement it.

[2022-08-08 08:30] jbuchermn commented on #136
Correct me if I'm wrong, but I don't think that's misleading. I can't see anywhere that you actually set an opacity for alacritty (neither in newm, nor in its own config - the windows look completely opaque to me). Of course, you won't see any blur if you draw an opaque window above it.

[2022-08-08 08:32] #137 closed

[2022-08-08 08:34] jbuchermn commented on #138
That's great! (I used to run gentoo in the past, so I like that there's an ebuild now).

Release management isn't really strong in newm at the moment, basically I only work on master (+ sometimes a prerelease branch). So the stable versioned packages is not going to be that easy...

[2022-08-08 08:35] jbuchermn commented on #139
That's a nice idea, I think this would be something quite common.

When I find some time, I'll look into it, implementation should not be very difficult.

[2022-08-08 08:36] #129 closed

[2022-08-09 08:08] celestomm opened #140 "Issues with intellij idea based IDE"
Idea windows seem to be forever stuck in floating mode, you can't move them or focus them with keyboard shortcut but you however can with touchpad gesture, sometimes modal windows spawned by idea will appear behind the main window and sometime they will simply freeze everything forcing you to reboot your pc.
Also you can't activate fullscreen mode with an idea window

[2022-08-09 17:30] jbuchermn commented on #140
I've tried using IntelliJ under newm and remember having similar issues. The thing is that Wayland isn't supported officially by JetBrains as far as I can tell: https://youtrack.jetbrains.com/issue/JBR-3206 Last time I tried it I remember IntelliJ doing all sorts of weird things such as starting the main window as a modal (which is why it is stuck in floating mode) instead of using the main surfac

[2022-08-09 20:29] celestomm commented on #140
Hey, I tried to launch the app with Xephyr as suggested in the linked JetBrains issue and it seems to have corrected all my issues !
The only malfunctioning thing left is the fullscreen mode that just adds black bars to the side off the window but it'd be cherry picking to consider this an issue
So thank you very much !

[2022-08-11 14:26] CRAG666 commented on #140
It works partially Intellij, I advise you to give us up, those of Jetbrains are not interested in supporting Wayland, if they really wanted to do it the same as Dbeaver, that despite being written in Java, it supports totally Wayland

[2022-08-13 10:09] Estebiu commented on #112
Any updates?

[2022-08-14 05:14] Darahaas2001 opened #141 "Is the developer planning to support newm on Xorg?"
Hello , I seriously loved newm for its smoothness and dope transitions, knowing that wayland is not fully matured for the time being , does the developer have any intention to partially support it for Xorg (because nvidia + wayland = trouble).

[2022-08-15 14:52] Pandademic commented on #112
@Estebiu I'm working on it at the moment, It's a little slow at the moment as I do not have much time on my hands at the moment, but with some luck I'll have more time to work on it over the next few days.

[2022-08-18 05:10] Shivamanb1 opened #143 "Nice"

[2022-08-18 05:10] Shivamanb1 commented on #143
Hi

[2022-08-20 00:39] jrens opened #144 "Input inhibitor request"
Could I ask for a feature request to get the input inhibitor protocol working so we can swap for any of the waylocks please.

[2022-08-21 19:17] a-priestley commented on #129
Hello.
I am noticing this too. For me specifically it causes the border to show up around my alacritty window, but the window itself does not gain focus--the application is not actionable. I believe what @edrex means by "gutter", is the gaps present between two windows. If I overlap the windows and then hover from one over to alacritty, it gains focus. But when hovering from blank compositor space

[2022-08-21 20:39] a-priestley opened #145 "Option to allow scrolling in unfocused windows"
Hi there,
In newm, scrolling on a window focuses it, taking away the ability to action another window without re-focusing it fist.
In other DE's/WM's it's possible to hover over windows and scroll their contents while retaining the ability to type in another window.
Is this possible to implement in newm?

[2022-08-22 11:29] jbuchermn commented on #141
Nope, not from my part at least. I'm not going to do any work to keep xorg alive any longer.

The obivous way to go is fix NVidia on Wayland... (or, as the sway devs handle it, not buy NVidia hardware)

[2022-08-22 11:29] #141 closed

[2022-08-22 11:30] jbuchermn commented on #143
Thanks

[2022-08-22 11:30] #143 closed

[2022-08-22 11:31] jbuchermn commented on #145
I'm not quite sure how this would be made to work. Is this possible on sway? Can you point me to the relevant configuration?

[2022-08-22 11:34] jbuchermn commented on #144
https://wayland.app/protocols/wlr-input-inhibitor-unstable-v1 says this protovol is deprecated - is this true?

Anyway, supporting any such protocol should not be too difficult. Please open a feature request over on [pywm](https://github.com/jbuchermn/pywm) and name the proper protocol to go with :)

[2022-08-22 12:39] a-priestley commented on #145
I'm actually not sure about that one and I realize now that "other" De's/WM's I'm thinking of had been X11 based. Due to the isolating nature of wayland compositors it may not be possible without some script in the config.
Something like:
[code]
Shouldn't be too hard for me to figure out, but the question remains--is there something more native to be done to accomplish it?

[2022-08-22 14:35] godalming123 opened #146 "Binary packages"
Is it possible to have binary packages instead of getting users to build from source

[2022-08-22 14:59] jbuchermn commented on #146
I'd not oppose it 👍🏻

but I haven't got time to do it myself

[2022-08-22 16:16] godalming123 commented on #146
If theres a way to make cmake (or whatever build system you use) produce builds that work on any x86-64 system then I can just build it myself since all I want is to make a custom repo for the kiss package manager

[2022-08-22 16:21] jbuchermn commented on #146
You can check out the nix files, which is the build system I use.

As this uses pip and meson underneath and newm is just a python package it's possibly however not that easy to package it standalone. I'm no expert on that however...

[2022-08-23 00:34] jrens commented on #144
Ok opened https://github.com/jbuchermn/pywm/issues/18

[2022-08-23 00:34] #144 closed

[2022-08-23 13:41] anton-granzow opened #147 "Unlocking doesn't work correctly"
Hey,
when I lock newm using the default config of newm and then try to unlock it, I get a black screen. From there I can switch to TTY and back to get a mouse but nothing else, no shortcuts working. Starting newm form TTY and doing lock and unlock, I get thrown back into the TTY.
Got a Arch Linux AUR newm install on top of a KDE Plasma install, so I log into newm using SDDM.
[newm_log.txt](https:/

[2022-08-23 19:35] CRAG666 commented on #147
It is not Newm error but of the Arch maintenance, I do not include all the dependencies, the best option it has is to check that has all installed

[2022-08-23 22:36] anton-granzow commented on #147
Found the issue. I did some crap with my pam config files in the past, causing python-pam to crash.

[2022-08-23 22:36] #147 closed

[2022-09-02 13:32] x0rzavi commented on #138
Hi, looks like the [wayland-desktop](https://github.com/bsd-ac/wayland-desktop) overlay recently added newm and pywm, which is much better and structured, closing the issue :")

[2022-09-02 13:32] #138 closed

[2022-09-04 01:07] moilong commented on #98
Im also having this issue in voidlinux. Lock used to work perfectly before with foot. Somewere in the middle it went wrong. Now L+p or closing laptop lid make newm hang with a dim display and movable cursor. Should go to tty and  start new session.

[2022-09-04 07:01] moilong commented on #98
I find a workaround in voidlinux for screen lock and laptop lid close lock. Start newm in tty by "dbus-run-session start-newm" with the default_config.py in default ~/.local/lib/python3.10/site-packages/newm/. In this way panel lock works as intended.

[2022-09-09 06:00] moilong opened #151 "Help needed to set active window opacity."
[config.txt](https://github.com/jbuchermn/newm/files/9532689/config.txt)
With this config can't get opacity in pcmanfm or featherpad.

[2022-09-12 08:45] tewkanz commented on #132
I was able to get this working, mostly by copying the contents of the flakes into derivations.  Though, I'm pretty new to nix, so my style not be the greatest ;)

For pyWM:
[code]

The module thefuzz is not currently part of nixpkgs, so you need to create a derivation for that:
[code]

And then finally, import those two derivations into your newm derivation:
[code]

[2022-09-14 16:19] tak2hu opened #152 "No $DISPLAY environment variable"
so I installed, copy paste the docs and ran newm just fine. Tho I have this problem when I tried to open brave, krita and other apps, it didn't work bcuz there's no $DISPLAY environment variable.

I did try using sway and it does have a $DISPLAY env var.

here are my logs and config

logs: https://pastebin.com/j2evEXPj

config: https://pastebin.com/q7GzE6kj

I use tuigreet that starts these script

[2022-09-17 20:20] tewkanz commented on #152
Your logs say you don't have xwayland (looks like it's an optional dependency). Can you install xwayland, then rebuild pywm and see if that fixes it?

[2022-09-21 19:43] AlexD97 opened #153 "Syncthingtray window is immediately closed"
When clicking on the tray button of syncthingtray the window is opened and closed immediately. I also tried to add a rule with `'float': True` but this does not help.

[2022-09-22 05:09] tak2hu commented on #152
turns out it's not `xwayland_enable = True` but `pywm = { 'xwayland_enable': True }` that's supposed to be in my config file

[2022-09-22 05:09] #152 closed

[2022-09-23 03:55] tewkanz opened #154 "How should custom lock panels be implemented?"
I'm trying to update my newm configuration to use [gtklock](https://github.com/jovanlanik/gtklock) as my lock panel. newm doesn't expose the input inhibitor protocol, it just locks the screen itself. It also takes care of displaying the window, so we don't need the layer shell protocol. Both of those things are fine and gtklock's handling for them can be disabled through command line options.

How

[2022-09-23 03:56] tewkanz commented on #154
Maybe we could write a pam module that sends credentials to newm's authentication bus that you plug into the lock screen? Getting a bit out of my comfort zone.

[2022-09-23 21:13] IamCarbonMan opened #155 "keybindings acting strange and rendering issues"
I'm using newm on Nixos, my full config is here: https://github.com/IamCarbonMan/dotfiles

When starting newm, some of my keybinds work; for example pressing logo by itself opens rofi. However with two windows open, pressing the arrow keys by themselves, even without the logo key, moves the layout.

Also, moving the mouse cursor on the background leaves a trail of mouse cursors, and if i mouse ove

[2022-09-23 21:20] IamCarbonMan commented on #155
Oops, it looks like the rendering errors were due to not having `hardware.opengl.enable = true;`

The keybindings are still doing the same thing though.

[2022-09-24 01:16] #155 closed

[2022-09-25 04:14] tewkanz opened #156 "Crash when zoom causes focused floating window to fall outside viewport"
If I zoom while a floating window is showing, and it causes the floating window to move off screen, newm will hang. In the logs, there will be an endless series of the following error:

[code]

Sounds like we're assuming the focused window will always be on screen after a zoom, which is usually true since we move back to the focused window after a zoom ends.

Full logs attached as well.
[newm_log_

[2022-09-25 04:17] tewkanz opened #157 "XWayland application options that create new windows always seem to create floating windows"
When an application creates a new window, for example, when you click the new window option in Firefox, that window is always created as a floating window. Those windows, however, are new instances of the application and should create tiled windows.

[2022-09-25 08:18] tewkanz commented on #157
Ah, my bad, this specifically is an issue for xwayland applications. For firefox specifically, the problem goes away if I set `MOZ_ENABLE_WAYLAND`.

[2022-09-27 09:34] yuval-benard opened #158 "gsettings specified in config aren't applied"
For example, modifying keyboard repeat rate and delay doesn't work, enabling/disabling touchpad natural scroll doesn't work.
If it matters, I am using Archcraft's version, which uses the default configuration provided by this github page.
An image with my current settings is attached for reference.
![image](https://user-images.githubusercontent.com/82278433/192490723-fa323e31-a387-454a-a3a4-bdc3ef

[2022-09-27 23:43] moilong commented on #151
Thanks to configs of @CRAG666 and @jbuchermn . Managed to get opacity. Attaching my new config for anyone ever needs it.
[config.txt](https://github.com/jbuchermn/newm/files/9660225/config.txt)

[2022-09-27 23:43] #151 closed

[2022-09-28 00:04] moilong opened #159 "Option to turn display off after locking screen."
Now the energy default config is dim, lock and then suspend after specified times. Can we change suspend_command so that instead of suspending it only turn off display and resume upon keypress.

[2022-10-02 00:22] CRAG666 commented on #158
@yuval-benard  These configurations only apply to Gnome

[2022-10-04 16:41] Cherro59 commented on #111
Have also such problems.  My [log](https://pastebin.com/HLJ6jTBG)

[2022-10-06 09:37] AlexD97 opened #160 "Move windows when resizing"
When I resize a window, let’s say to the right and there is already a window to the right, then the windows are stacked. Is there an option to move all windows at the right hand side to give appropriate space in this case?

[2022-10-09 00:08] CRAG666 opened #161 "Ideas for Layout functions"
I am working more actively on this project, so I want to improve and add functions to Layout, believe this ISSUE only to make them known and have a feedback before doing a PR

[2022-10-09 00:17] CRAG666 commented on #161
The first idea is to make a function that takes you to a specific view (ignoring floating windows)

[code]
@jbuchermn  What do you think about this

[2022-10-09 01:29] CRAG666 commented on #161
I also wrote my version for NextView and implemented logic for Prev_View
[code]
Incursion could add, the "all_views" parameter, to use self.views instead of self.tiles

[2022-10-14 21:28] AlexD97 opened #162 "Opening applications from waybar does not work"
When clicking on e.g. the volume indicator in waybar I want that pavucontrol opens. Instead, nothing opens visibly but the other applications slide under the waybar. In htop I can see that pavucontrol is open and if I kill it the applications that were partly under the waybar are now in place again.

[2022-10-15 07:38] jbuchermn commented on #153
Can you add a log when this happens?

[2022-10-15 07:44] jbuchermn commented on #154
Unfortunetaly that's indeed not possible at the moment due to a missing protocol in pywm (see https://github.com/jbuchermn/pywm/issues/18). Once I come around to implementing that, other lock screens should / could work (I suspect there's a little bit more to do, but we will see...)

You could possibly work round `org.newm.auth.Request` and `newm-cmd unlock`, but the latter is really only intended

[2022-10-15 07:46] jbuchermn commented on #157
Closing as seems to be solved

[2022-10-15 07:46] #157 closed

[2022-10-15 07:47] jbuchermn commented on #158
Thanks, @CRAG666 - indeed, gnome configuration is not read at any place. This should be possible by configuring libinput.

[2022-10-15 07:47] #158 closed

[2022-10-15 07:51] jbuchermn commented on #159
Take a look into the config options `energy.idle_callback` and `energy.suspend_command`. Should be possible by just leaving `suspend_command` empty and setting backlight to zero in `idle_callback` with e.g. "idle-presuspend".

[2022-10-15 07:55] #128 closed

[2022-10-15 07:56] jbuchermn commented on #145
Closing this for now, as I think this goes a bit beyond a single compositors characteristic

[2022-10-15 07:56] #145 closed

[2022-10-15 07:58] jbuchermn commented on #160
I've been thinking about that for some time, one could probably intoduce a temproray row / column in that scenario.

I'll keep it as a backlog item

[2022-10-15 07:59] jbuchermn commented on #161
Hi,

I think these are good ideas! Did you try if it works?

[2022-10-15 08:00] jbuchermn commented on #162
I can reproduce. This si something that used to work so I'm taking a look.

[2022-10-15 08:12] AlexD97 commented on #153
Here it is:

[newm_log.txt](https://github.com/jbuchermn/newm/files/9791531/newm_log.txt)

[2022-10-15 11:07] #162 closed

[2022-10-15 11:12] jbuchermn commented on #156
I'm having trouble reproducing this. Can you give me a series of steps? (as in open two windows, make one floating, zoom into the other...) Or a video?

I tried having one tiled and one floating window - and could'nt reproduce even if the floating window left the screen during zoom.

I tried having only a floating window and wasn't really able to move the window out of the screen by zooming...

[2022-10-15 12:17] AlexD97 commented on #153
Sorry, I could have looked into the GitHub Issues of syncthingtray: https://github.com/Martchus/syncthingtray/issues/157

The problem is that if the window/popup loses focus (which is immediately true if `focus_follows_mouse` is true) the window closes. It would be easy to make a workaround if it was possible to place (floating) windows relative to the cursor position.

[2022-10-15 13:41] jbuchermn commented on #153
Can you confirm, that this is actually the issue? I.e. does it work when you disable `focus_follows_mouse`?

[2022-10-15 13:50] AlexD97 commented on #153
It kinda works then. I need to double click on the icon (when clicking just once the window is still immediately closed).

[2022-10-15 14:59] AlexD97 commented on #162
Now it's indeed working.
Unfortunately, waybar needs now a lot of time to start. I suspect that's due to xdg-desktop-portal-wlr. `journalctl` gives me
[code]
Did you encounter the same behaviour? (I have copied my NixOS configuration mostly from yours.)

[2022-10-15 15:16] jbuchermn commented on #162
I suspect this is unrelated. Indeed essbar sometimes takes a long time to start up, I've seen this as well.

[2022-10-15 15:41] AlexD97 commented on #162
Do you mean it's unrelated to your fix or unrelated to xdg-desktop-portal-wlr?

[2022-10-15 15:51] jbuchermn commented on #162
Unrelated to the fix (and possibly the compositor as such) - Portal sounds like a reasonable explanation.

[2022-10-16 00:12] tewkanz commented on #156
Sorry, it turns out the viewport piece of it was a red herring. It seems to just happen if I zoom in enough on a floating window while it has focus.

https://user-images.githubusercontent.com/5669979/196012014-cc59611b-8821-48bd-bc76-e6ce34865743.mp4

[2022-10-17 18:35] jbuchermn commented on #153
Interesting, maybe there's something else going wrong..

Double-clicking with `focus_follows_mouse` doesn't work at all?

[2022-10-17 18:39] #156 closed

[2022-10-17 19:24] AlexD97 commented on #153
Double-clicking with `focus_follows_mouse` is working, too.
In both cases however, this is a bit unreliable, sometimes I need triple-clicking. One can see that on the first click the window is opened and immediately closed, then on the second click it stays open (normally).

[2022-10-17 21:51] CRAG666 commented on #161
@jbuchermn  Of course I am already using these functions in my day by day

[2022-10-17 21:53] CRAG666 commented on #161
![imagen](https://user-images.githubusercontent.com/34254373/196290878-35f362aa-642b-40b2-b5a5-8f1134500e3c.png)
![imagen](https://user-images.githubusercontent.com/34254373/196290943-d1c767f8-4ec1-4970-9725-dc9878057bb0.png)

[2022-10-17 21:56] CRAG666 commented on #161
I've been using this for more than a month

[2022-11-03 14:35] Phundrak opened #166 "Don’t hardcode the use of Alacritty"
### The issue
Alacritty is hard-coded both in the default config and in [`panel_launcher.py`](https://github.com/jbuchermn/newm/blob/master/newm/panel_launcher.py). This may cause issues for people who do not have Alacritty installed.

### Possible solution
The user could be able to set a variable containing their preferred terminal emulator in a terminal, and newm could rely then on this variable

[2022-11-03 18:06] EpsilonKu commented on #140
If u see latest comments on JetBrains issue. They are trying to fix it with RedHat. Quote:

[2022-11-03 18:19] CRAG666 commented on #166
![image](https://user-images.githubusercontent.com/34254373/199803000-134dfc73-a69c-4400-9af7-a49a2ffed0ff.png)
my solution
![image](https://user-images.githubusercontent.com/34254373/199803084-a7b2724d-4024-4098-bc7d-3156d12ef270.png)

[2022-11-07 18:34] EpsilonKu opened #167 "Switch language layout"
How to switch language layout? I can't find any example or documentation((

[2022-11-07 18:53] EpsilonKu opened #168 "Num lock"
How to enable num lock by default?

[2022-11-08 07:54] AlexD97 opened #169 "Screen mirroring"
Is it possible to mirror screens in newm?

[2022-11-10 03:12] CRAG666 commented on #167
Pleace read the doc,
![imagen](https://user-images.githubusercontent.com/34254373/200991937-ec052d11-b233-469f-aa86-48e9e9036d05.png)

[2022-11-10 03:14] CRAG666 commented on #168
That question has nothing to do with Newm, try a keyboard command that helps you with that, and put it at `on_startup`

[2022-11-10 03:18] CRAG666 commented on #140
@EpsilonKu They are good news, I hope and if they take it seriously, because Jetbrains gives many surprises (and not of good taste)

[2022-11-10 07:33] EpsilonKu commented on #167
I want to set second layout and switch between them.

[2022-11-14 22:17] Pandademic commented on #166
@Phundrak - this is a default, and it's noted in the docs.
Anway, like @CRAG666 showed in his screenshots, it's a easily customizable thing.

[2022-11-18 03:28] shadowpsi opened #170 "Question: Layout for newly opened apps"
Probably a couple of different cases in here.

1. In a new session when I open the terminal it opens as a small window in the total screen space. Is it possible to open maximised?
2. Alternatively I usually open 2 terminal windows to fill the height and 50% width. On a new session I need to resize both windows to fill the height. Width in this case is perfect.
3. newm-cmd debug can show the curren

[2022-11-29 15:32] Martchus commented on #153
I hope you've seen the workaround mentioned in the README: https://github.com/Martchus/syncthingtray#workaround-positioning-issues-under-wayland

Note that implementing this to work correctly under Wayland is unlikely to happen anytime soon. I must say my experience with Wayland as developer and user is a rather sad story so far (see https://github.com/Martchus/syncthingtray/issues/157#issuecommen